
body {
  background-image: url('https://th.bing.com/th/id/R.0a655e51edf3231eb426cbeb6ddf8fed?rik=23I0w9iulHAYnQ&pid=ImgRaw&r=0');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	
}

div {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
