body {
  background-image: url('https://s3.amazonaws.com/s3.timetoast.com/public/uploads/photo/9891381/image/8df412d5a093d9ba9d02fabb4064381d');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	
}

div {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

P{
	color-text:blue;
}