
body {
  background-image: url('https://th.bing.com/th/id/R.24b0211d32ce88dc7e59bab384b8cf5e?rik=rLVc9%2bLLsloCCQ&riu=http%3a%2f%2fst.depositphotos.com%2f1057833%2f4941%2fi%2f950%2fdepositphotos_49416445-Graduation-Caps-Thrown-in-the-Air.jpg&ehk=S6OtekgWzP8Tvq%2fEZ%2f1HltNUDrmHc6dH1TJSmLn%2buM4%3d&risl=&pid=ImgRaw&r=0');

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	
}

div {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
